.container-homepage {
}

.container-movie-film {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 480px;
}
.container-movie {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.555);
}
.container-movie-film embed {
  width: 100%;
  height: 100%;
}
.container-movie-film embed::-webkit-scrollbar {
  width: 0px;
}
.movie-film-title {
  font-size: 25px;
  color: white;
  padding-bottom: 20px;
}
.container-movie-content {
  font-size: 10px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.container-movie-content-right {
  width: 50%;
  padding: 0px 20px;
}
.container-movie-content-right-title {
  font-size: 15px;
  color: #46d369;
  padding: 10px 0px;
}
.container-movie-content-right-description {
  font-size: 15px;
  margin-bottom: 15px;
}
.container-movie-content-lef {
  padding: 0px 20px;
  width: 50%;
}
.container-movie-content-lef-director {
  display: flex;
  padding: 10px 0px;
}
.container-movie-content-lef-director span {
  color: #777;
  margin-right: 5px;
}
.container-movie-content-lef-actor {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}
.container-movie-content-lef-actor span {
  flex: none;
  color: #777;
  margin-right: 5px;
}
.container-movie-content-lef-type {
  display: flex;
  padding: 10px 0px;
}
.container-movie-content-lef-type span {
  color: #777;
  margin-right: 5px;
}
.container-movie-content-lef-duration {
  display: flex;
  padding: 10px 0px;
}
.container-movie-content-lef-duration span {
  color: #777;
  margin-right: 5px;
}

.billboard-motion {
  height: 800px;
  overflow-y: hidden;
}

.motion-background {
  overflow: hidden;
  height: 100%;
  z-index: 0;
}

.motion-background img {
  position: absolute;
  background-position: 50%;
  background-size: cover;
  bottom: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  left: 0;
  opacity: 1;
  right: 0;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.info-container {
  width: 100%;
  top: 27%;
  margin-bottom: 1.2vw;
  min-height: 13.2vw;
  position: absolute;
  margin-left: 100px;
}
.billboard-title img {
  width: 500px;
  height: 180px;
}

.info-wrapper {
  overflow: hidden;
  width: 620px;
  height: 44px;
  margin-bottom: 10px;
}

.info-wrapper p {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  margin-top: 0.1vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  width: 100%;
  margin-bottom: 10px;
}
.billboard-button-layer {
  display: flex;
  flex-direction: row;
}
.login-btn {
  border: none;
  width: 158px;
  height: 48px;
  border-radius: 5px;
  background-color: #33333300;
  border-color: #cccccc;
  border-style: solid;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.container-news {
}

.slick-slide > div {
  margin: 0;
  padding: 0;
}

.slider-content {
  position: absolute;
  top: 80.5%;
  width: 100%;
  padding-left: 30px;
}

.news {
  width: 215px;
  overflow: hidden;
}

.news-top {
  margin-left: 5px;
  overflow-y: hidden;
  height: 120px;
  margin-bottom: 20px;
}
.container-news-title {
  color: #e5e5e5;
  overflow-y: hidden;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
}

.news-top img {
  height: 100%;
  border-radius: 5px;
  width: 100%;
  object-fit: fill;
}
.news-top:hover {
  position: relative;
  transform: scale(1.5);
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  border-radius: 10px;
}

.slick-track .slick-initialized {
  margin-bottom: 50px;
}

.slick-list {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .info-wrapper p {
    color: #fff;
    font-size: 10px;
    font-weight: 200;
    line-height: normal;
    margin-top: 0.1vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    width: 100%;
    margin-bottom: 10px;
  }

  .login-btn {
    border: none;
    width: 80px;
    height: 28px;
    border-radius: 5px;
    background: rgb(225, 9, 9);
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .billboard-motion {
    height: 400px;
    overflow-y: hidden;
  }

  .slider-content {
    position: absolute;
    top: 60%;
    width: 90%;
  }

  .news-top {
    margin-left: 5px;
    overflow-y: hidden;
    height: 120px;
    margin-bottom: 20px;
  }

  .container-news-title {
    color: #e5e5e5;
    overflow-y: hidden;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .info-container {
    width: 60%;
    top: 25%;
    margin-bottom: 1.2vw;
    min-height: 13.2vw;
    position: absolute;
    margin-left: 10%;
  }

  @media only screen and (max-width: 600px) and (min-width: 380px) {
    .news-top {
      margin-left: 5px;
      overflow-y: hidden;
      height: 160px;
      margin-bottom: 20px;
    }
    .motion-background img {
      position: absolute;
      background-position: 50%;
      background-size: cover;
      bottom: 0;
      -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      filter: alpha(opacity=100);
      left: 0;
      opacity: 1;
      right: 0;
      top: 0;
      opacity: 0.5;
      width: 100%;
      height: 40%;
    }

    .info-container {
      width: 60%;
      top: 10%;
      margin-bottom: 1.2vw;
      min-height: 13.2vw;
      position: absolute;
      margin-left: 10%;
    }

    .info-wrapper p {
      color: #fff;
      font-size: 10px;
      font-weight: 200;
      line-height: normal;
      margin-top: 0.1vw;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
      width: 100%;
      margin-bottom: 10px;
    }

    .slider-content {
      position: absolute;
      top: 35%;
      width: 100%;
      padding-left: 30px;
    }

    .news-top img {
      height: 80%;
      border-radius: 5px;
      width: 100%;
      object-fit: fill;
    }

    .billboard-title img {
      width: 70%;
    }

    .news-top {
      margin-left: 5px;
      overflow-y: hidden;
      height: 120px;
      margin-bottom: -25px;
    }

    /* Modal */
    .container-movie-film {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 250px;
    }

    .container-movie-content {
      font-size: 10px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
    }
    .container-movie-content-right {
      width: 100%;
      padding: 0px 20px;
    }
    .container-movie-content-right-title {
      font-size: 15px;
      color: #46d369;
      padding: 10px 0px;
    }
    .container-movie-content-right-description {
      font-size: 10px;
      margin-bottom: 15px;
    }
    .container-movie-content-lef {
      width: 100%;
      padding: 0px 20px;
    }

    .container-movie-content-lef p {
      font-size: 10px;
    }

    .container-movie-content-lef-director {
      display: flex;
      padding: 10px 0px;
    }
    .container-movie-content-lef-director span {
      font-size: 10px;
      color: #777;
      margin-right: 5px;
    }
    .container-movie-content-lef-actor {
      font-size: 10px;
      display: flex;
      flex-direction: row;
      padding: 10px 0px;
    }
    .container-movie-content-lef-actor span {
      font-size: 10px;
      flex: none;
      color: #777;
      margin-right: 5px;
    }
    .container-movie-content-lef-type {
      display: flex;
      padding: 10px 0px;
    }
    .container-movie-content-lef-type span {
      font-size: 10px;
      color: #777;
      margin-right: 5px;
    }
    .container-movie-content-lef-duration {
      display: flex;
      padding: 10px 0px;
    }
    .container-movie-content-lef-duration span {
      font-size: 10px;
      color: #777;
      margin-right: 5px;
    }
  }
}
