.header {
  overflow: hidden;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.header-logo {
  overflow: hidden;
}
.header-logo img {
  width: 100px;
  margin-right: 30px;
}

.header-login-btn {
  border: none;
  width: 100px;
  height: 32px;
  border-radius: 5px;
  background: rgb(225, 9, 9);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.header-contact-btn {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  width: 100px;
  height: 32px;
  border-radius: 5px;
  background: rgba(79, 78, 78, 0.101);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin: 0px 10px;
}

@media only screen and (max-width: 600px) {
  .header-logo img {
    width: 80px;
    margin-right: 30px;
  }

  .header-login-btn {
    border: none;
    width: 70px;
    height: 32px;
    border-radius: 5px;
    background: rgb(225, 9, 9);
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .header-contact-btn {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    width: 60px;
    height: 32px;
    border-radius: 5px;
    background: rgba(79, 78, 78, 0.101);
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: 0px 10px;
  }
}
